body {
    margin: 0;
}

.cs-col-layout > .cs-title {
    padding-bottom: 0 !important;
    background: transparent !important;
}

.katex-display {
    margin-top: 0 !important;
    margin-bottom: 0.25em !important;
}